

.boldText {
    font-family: verdana;
    font-weight: bold;
}

.italicText {
    font-family: verdana;
    font-style: italic;
}

p {
    font-size: 25px;
}

body {
    background-color: lightblue;
}

img {
    float: right;
}
